
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
  --background: #8ECAE6;
  --white:#FFF;
  --textcolor:#023047;
  --cta:#FB8500;
  --cta-hover:#FF4D00;
  --red:#ff0000;
  --header:rgba(255, 255, 255, 0.75);
  --shadow-header:rgba(0, 0, 0, 0.16);
  --background-language-changer:rgba(255, 255, 255, 0.01);
  --boxshadow-languageshanger1:rgba(255, 255, 255, 0.30);
    --boxshadow-languageshanger2:rgba(255, 255, 255, 0.10);
      --boxshadow-languageshanger3:rgba(255, 255, 255, 0.30);
--faded-text:rgba(2, 48, 71, 0.80);
}


.body{width: 100%;overflow-x: hidden;}

.body-home{width: 100%;overflow-x: hidden;
background-color: var(--background);}



.sec-login{    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 0 8%;overflow: hidden;
    min-width: 1080px;
    position: relative;
    z-index: 1;
    background-color: var(--background);
       background-image: url(pic/pic2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}


.containerr-sec-login{
        max-width: 1280px;
    width: 100%;
    display: flex;align-items: center;
    flex-direction: row;

    justify-content: center;
}




.container-login-page{
        display: flex;
    flex-direction: row;
    gap: 35px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 100%;
}












.content-info-login-page{display: flex;
    flex-direction: column;
    gap: 56px;
    border-radius: 15px;
margin: 0;
padding: 74px 51px;
box-sizing: border-box;
background-color: var(--white);
width: 53%;}

.header-log-in-page{color:var(--textcolor);
text-align: center;
font-family: Poppins;
font-size: 32px;
font-weight: 800;margin: 0;
line-height: 140%;}

.form{margin: 0;padding: 0;display: flex;
    flex-direction: column;
gap: 30px;}

.input1{display: flex;flex-direction: column;
    gap: 22px;margin: 0;
    padding: 0;border-color: transparent;}

.placeholder-login{color: var(--textcolor);
font-family: Poppins;
font-size: 24px;margin: 0;padding: 0;
font-weight: 600;}


.text-info-login {
height: 47px;
border-radius: 5px;color: var(--textcolor);
    display: flex;background-color: transparent
;border: 2px solid var(--textcolor);
padding-left: 26.92px;box-sizing: border-box;

}
.text-info-login:focus,
.text-info-login:active,
.text-info-login:visited,
.text-info-login:focus-visible,
.text-info-login:focus-within,
.text-info-login:hover {
  color: var(--textcolor) !important;
  border: 2.019px solid var(--textcolor);
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

.input-group{display: flex;flex-direction: column;gap: 30px;
    margin: 0;padding: 0;border-color: transparent;
}

.group-input2{display: flex;flex-direction: column;gap: 12px;
    margin: 0;padding: 0;border-color: transparent;
}

.forgot-pass{color: var(--textcolor);
text-align: right;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: 5.5%; /* 0.88px */
text-underline-offset: 12.5%; /* 2px */
text-underline-position: from-font;

}

.link{text-decoration: none;}

.input3{display: flex;flex-direction: row;gap: 9px;margin: 0;
    padding: 0;border-color: transparent;}

.checkbox {
  width: 25.473px;
  height: 25.473px;
  background: transparent; 
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid var(--textcolor);
  cursor: pointer;margin: 0;
  position: relative;    flex-shrink: 0;
    display: inline-block;
}


.checkbox:checked::after {
  content: "";
  position: absolute;
  top: 2px;
      left: 7px;
  width: 6px;
  height: 12px;
  border: solid var(--textcolor);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.rember-text{color: var(--textcolor);
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;margin: 0;padding: 0;}

.buttonn{display: flex;
height: 50px;width: 100%;
;box-sizing: border-box;
justify-content: center;cursor: pointer;
align-items: center;border-color: transparent;
align-self: stretch;
border-radius: 15px;   ;
background: var(--cta);
transition: all 300ms linear;}

.buttonn:hover{background-color: var(--cta-hover);}

.link-button{width: 100%;text-decoration: none;
display: flex
;gap: 10px;
    align-items: center;
    justify-content: center;}

.button-text{color: var(--white);
font-family: Poppins;
font-size: 18px;margin: 0;
font-weight: 700;}


.error-message {
    color: var(--red);
font-family: Poppins;
    font-size: 16px;
    display: none;   
}


.img-login{position: absolute;right: 0;
    position: absolute;
right: -197px;
    width: 49%;    min-width: 787px;    bottom: 3.5%;
    
}


.headerr {
    background-color: var(--header);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 0 8%;border-radius: 0 0 40px 40px;
    z-index:1111111111;
    width: 100%;height: 122.291px;
    box-shadow: -89px 8px 24.4px 0 var(--shadow-header);
}


.container-header{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 34px;
        width: 100%;
    align-items: center;
    justify-content: space-between;
}

.list-header{list-style-type: none;
display: flex;
flex-direction: row;
gap: 25px;
justify-content: center;
}


.link-header{text-decoration: none;}

.list-header-text{color: var(--textcolor);
font-family: Poppins;
font-size: 18px;
font-weight: 700;
line-height: 110%; 
  position: relative;
  cursor: pointer;
}

.list-header-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;        
  width: 0;
  height: 2px;         
  background-color: var(--textcolor);
  transition: all 0.3s ease-in-out;
}

.list-header-text:hover::after {
  width: 100%;
}


.lang-changer-button{display: flex;
width: fit-content;
height: 54px;
padding: 0 15px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 39px;
border-color: var(--textcolor);
background: var(--background-language-changer);
box-shadow: 1px 3px 2px 0 var(--boxshadow-languageshanger1) inset, -1px -3px 2px 0 var(--boxshadow-languageshanger2) inset, 0 0 14px 0 var(--boxshadow-languageshanger3) inset;
}


.english-ncontainer{width: 46.491px;
height: 31.216px;
border-radius: 42px;cursor: pointer;
background: var(--cta);
display: flex;
justify-content: center;
align-items: center;
}


.english{color: var(--textcolor);
font-family: Poppins;
font-size: 18px;
font-weight: 700;
line-height: 110%; /* 19.8px */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;}


.container-login{display: flex;
width: fit-content;
height: 54px;border-radius: 39px;
justify-content: center;
align-items: center;
gap: 10px;

border-color: var(--textcolor);
background: var(--background-language-changer);
box-shadow: 1px 3px 2px 0 var(--boxshadow-languageshanger1) inset, -1px -3px 2px 0 var(--boxshadow-languageshanger2) inset, 0 0 14px 0 var(--boxshadow-languageshanger3) inset;}


.login-button2{display: flex;
width: fit-content;
height: 54px;
padding: 0 15px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 39px;
border-color: var(--textcolor);
background: var(--background-language-changer);
box-shadow: 1px 3px 2px 0 var(--boxshadow-languageshanger1) inset, -1px -3px 2px 0 var(--boxshadow-languageshanger2) inset, 0 0 14px 0 var(--boxshadow-languageshanger3) inset;
}







.arab-ncontainer{width: fit-content;cursor: pointer;
height: fit-content;
display: flex;
justify-content: center;
align-items: center;;}


.arab{color: var(--textcolor);
font-family: Poppins;
font-size: 18px;
font-weight: 600;
line-height: normal;}



.conatiner-sub-buttons-left{display: flex;
    gap: 17px;
flex-direction: row;
justify-content: center;
align-items: center;}


.circle-change-theme{
    display: flex;
width: 54px;
height: 54px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 39px;cursor: pointer;
border: 2px solid var(--textcolor);
background: var(--background-language-changer);
box-shadow: 1px 3px 2px 0 var(--boxshadow-languageshanger1) inset, -1px -3px 2px 0 var(--boxshadow-languageshanger2) inset, 0 0 14px 0 var(--boxshadow-languageshanger3) inset;
}


.sec1{width: 100%;height: 100vh;
background-image: url(pic/pic5.png);
width: 100%;
    display: flex;position: relative;
    justify-content: center;
    padding: 0 8%;    min-height: 721px;
    min-width: 1080px;}


.main-info-sec1 {
    max-width: 1280px;
    width: 100%;flex-direction: row;
    display: flex;margin-top: 122px;justify-content: space-between;
align-items: center;}


.text-box-sec1{display: flex;position: relative;
flex-direction: column;width: 621.46px;
gap: 55px;}


.sub-box-sec1{display: flex;
flex-direction: column;z-index: 1;
gap: 34px;}

.small-text-sec1{color: var(--textcolor);
font-family: Poppins;
font-size: 17.094px;
font-weight: 800;
line-height: 110%; /* 18.803px */}

.header-sec1{color: var(--textcolor);
font-family: Poppins;
font-size: 90.293px;
font-weight: 800;
line-height: 110%; /* 99.323px */}

.para-container-secc1{display: flex;
flex-direction: column;
gap: 22px;}

.para-sec1{
color: var(--faded-text);
font-family: Poppins;width: 296.164px;
font-size: 18px;
font-weight: 500;
line-height: 140%; 
display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;}

.para2-sec1{
color: var(--faded-text);
font-family: Poppins;width: 296.164px;
font-size: 18px;margin-left: 258px;
font-weight: 500;
line-height: 140%; 
display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;}


.img-decoration1-sec1{position: absolute;
    left: -73px;
    top: -90px;  transform: scale(0.8);        
  transition: opacity 0.4s ease-out 0.4s,
              transform 0.4s ease-out 0.4s;
}

.img-decoration1-sec1.animate {
  opacity: 1;
  transform: scale(1);         
}



.img-decoration2-sec1{    position: absolute;
    left: 91px;
    bottom: -70px;
    transform: scale(0.8);        
  transition: opacity 0.4s ease-out 0.6s,
              transform 0.4s ease-out 0.6s;
}

.img-decoration2-sec1.animate {
  opacity: 1;
  transform: scale(1);         
}


.img-decoration3-sec1{       position: absolute;
    right: 110px;
    bottom: 116px;
        transform: scale(0.8);        
  transition: opacity 0.4s ease-out 0.7s,
              transform 0.4s ease-out 0.7s;
}

.img-decoration3-sec1.animate {
  opacity: 1;
  transform: scale(1);         
}



.img-decoration1-sec1,
.img-decoration2-sec1,
.img-decoration3-sec1 {
  opacity: 0;
}






/* 
.img-decoration4-sec1{      position: absolute;
    left: 0;opacity: 0;transition: opacity 0.4s ease-out 0.7s;
     top: 167px;} */


.img-container-big-sec1{position: relative;
    width: 529px;
    height: 541px;
    display: flex;
    justify-content: end;
}

.img-decoration4-sec1 {
  position: absolute;
  left: 0;
  top: 167px;
  opacity: 0;
  transition: opacity 0.6s ease-out 1s;
}

.img-container-big-sec1 {
  position: relative;
  width: 529px;
  height: 541px;
  display: flex;
  justify-content: end;
}

.img-decoration5-sec1 {
  position: absolute;
  left: -19px;
  top: -79px;
  opacity: 0;
  transition: opacity 0.6s ease-out 1s;
}

.img-decoration6-sec1 {
  position: absolute;
  right: -29px;
  bottom: -93px;
  opacity: 0;
  transition: opacity 0.6s ease-out 1s;
}

.img-decoration7-sec1 {
  position: absolute;
  right: 0;
  top: 243px;
  opacity: 0;
  transition: opacity 0.6s ease-out 1s;
}


.img-decoration8-sec1{  
    position: absolute;
    left: 0;
   bottom: 9%;
     opacity: 0;
  transition: opacity 0.6s ease-out 1s;
}



.img-decoration4-sec1.animate,
.img-decoration5-sec1.animate,
.img-decoration6-sec1.animate,
.img-decoration8-sec1.animate,
.img-decoration7-sec1.animate {
  opacity: 1;
}









.big-img-sec1 {
  width: 529px;
  opacity: 0;
  transform: scale(0.8);        
  transition: opacity 0.4s ease-out 0.1s,
              transform 0.4s ease-out 0.1s;
}

.big-img-sec1.animate {
  opacity: 1;
  transform: scale(1);         
}





.sec2 {
    width: 100%;
    height: 1068.624px;
    background-image: url(pic/pic19.png);
    background-size: auto;
    background-position: left top; 
}


.preloaderrr {
  transition: opacity .5s ease;
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;z-index: 111111111111111111111;
}


.video{width: 60%;}










@media (max-width: 1280px) {

.bodyy{background-color: var(--background);
width: 100vw;}

.sec-login{min-width: 1280px; }

.containerr-sec-login {
    max-width: 1080px;
    width: 100%;}

.img-login {

    right: -286px;
    width: 68%;
    min-width: 0;}

.headerr {
       min-width: 1280px;
    width: 100%;
}
.container-header {
        max-width: 1080px;
    width: 100%;
}
    
.sec1 {
    width: 100%;
          padding: 0 100px;
        min-width: 1280px;}

.main-info-sec1 {
max-width: 100%;
        min-width: 1080px;
}


.img-decoration3-sec1{      position: absolute;
    right: 37px;
     bottom: 93px;}

.text-box-sec1{display: flex;position: relative;
flex-direction: column;width: 510.46px;
gap: 55px;}
.para-sec1{
color: var(--faded-text);
font-family: Poppins;width: 242.164px;
font-size: 18px;
font-weight: 500;
line-height: 140%; 
display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;}

.para2-sec1{
color: var(--faded-text);
font-family: Poppins;width: 242.164px;
font-size: 18px;margin-left: 258px;
font-weight: 500;
line-height: 140%; 
display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;}


.img-decoration8-sec1 {
    position: absolute;
    left: -6%;
    bottom: 9%;
}




}




