
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root{
  --background: #8ECAE6;
  --white:#FFF;
  --textcolor:#023047;
  --cta:#FB8500;
  --cta-hover:#FF4D00;
  --red:#ff0000;
  --header:rgba(255, 255, 255, 0.75);
  --shadow-header:rgba(0, 0, 0, 0.16);
  --background-language-changer:rgba(255, 255, 255, 0.01);
  --boxshadow-languageshanger1:rgba(255, 255, 255, 0.30);
    --boxshadow-languageshanger2:rgba(255, 255, 255, 0.10);
      --boxshadow-languageshanger3:rgba(255, 255, 255, 0.30);
--faded-text:rgba(2, 48, 71, 0.80);
  --mask-color: rgba(0, 0, 0, 1);
  --design:#219EBC;
  --paragraph:rgba(2, 48, 71, 0.80);
  --paragraph-white:rgba(255, 255, 255, 0.80);
  --card-hover:#00CEFF;;
  --shadow-imgs:rgba(0, 0, 0, 0.25);
  --ctatext:#FFF;
  --gray-text-form:rgba(30, 41, 57, 0.38);
  --lightbox:rgba(0, 0, 0, 0.8);
--constantwhite:#FFF;
--contstanttextcolor:#023047;
}

.body-home.darkmode {
  --background: #0F1419;
  --textcolor:#FFF;
    --header:rgba(24, 29, 43, 0.75);;
  --faded-text:rgba(255, 255, 255, 0.80);
  --white:#1A1F2E;
  --paragraph:rgba(255, 255, 255, 0.80);;
  --design:#2A5F7A;

}

.body-meassages.darkmode {
  --background: #0F1419;
  --textcolor:#FFF;
    --header:rgba(24, 29, 43, 0.75);;
  --faded-text:rgba(255, 255, 255, 0.80);
  --white:#1A1F2E;
  --paragraph:rgba(255, 255, 255, 0.80);;
  --design:#2A5F7A;

}


.body.darkmode {
  --background: #0F1419;
  --textcolor:#FFF;
    --header:rgba(24, 29, 43, 0.75);;
  --faded-text:rgba(255, 255, 255, 0.80);
  --white:#1A1F2E;
  --paragraph:rgba(255, 255, 255, 0.80);;
  --design:#2A5F7A;

}




.body.darkmode .logo-header{
  content: url("pic/pic93.png");
}

.body.darkmode .theme-img{
  content: url("pic/pic94.png");
}


.body-home.darkmode  .sec1{
background-image: url(pic/pic89.png);
}

.body-home.darkmode .img-decoration1-sec1{
  content: url("pic/pic90.png");
}
.body-home.darkmode .img-decoration3-sec1{
  content: url("pic/pic91.png");
}
.body-home.darkmode .img-decoration2-sec1{
  content: url("pic/pic92.png");
}

.body-home.darkmode .logo-header{
  content: url("pic/pic93.png");
}

.body-home.darkmode .theme-img{
  content: url("pic/pic94.png");
}

.body-home.darkmode .img-decoration5-sec1{
  content: url("pic/pic95.png");
}

.body-home.darkmode .img-decoration6-sec1{
  content: url("pic/pic97.png");
}
.body-home.darkmode .img-decoration4-sec1{
  content: url("pic/pic98.png");
}
.body-home.darkmode .img-decoration8-sec1{
  content: url("pic/pic99.png");
}

.body-home.darkmode .sec2{
      background-image: url(pic/pic100.png);
}

.body-home.darkmode .sec3 .flickity-page-dots .dot.is-selected{
      background-color: #FFF;
}

.body-home.darkmode .img-decoration-sec3{
      content: url(pic/pic101.png);
}

.body-home.darkmode .img-decoration2-sec3{
      content: url(pic/pic102.png);
}

.body-home.darkmode .sec4{
   background-image: url(pic/pic103.png);
}

.body-home.darkmode .imgdecoration4-sec5{
  content: url("pic/pic104.png");
}

.body-home.darkmode .imgdecoration3-sec5{
  content: url("pic/pic105.png");
}


.body-home.darkmode .sec6{
  background-image:  url("pic/pic106.png");
}

.body-meassages.darkmode .logo-header{
  content: url("pic/pic93.png");
}

.body-meassages.darkmode .theme-img{
  content: url("pic/pic94.png");
}
.body-meassages.darkmode .img-decoration-galleryy2{
  content: url("pic/pic107.png");
}
.body-meassages.darkmode .img-decoration-galleryy1{
  content: url("pic/pic108.png");
}
















.body{width: 100%;overflow-x: hidden;}
.body-home {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--background);
}

.body-home.en, 
.body-home.en * {
  font-family: 'Poppins', sans-serif !important;
}
.body-home.ar, 
.body-home.ar * {
  font-family: 'Noto Sans Arabic', sans-serif !important;
}
.body-home.ar .logintext{
      text-underline-offset: 6px;
}
.body-home.ar .english{
     text-decoration-line: none;
}

.body-home.ar .arabicc{
     text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    text-underline-position: from-font;
}



.body-home.ar .para2-sec1 {
  margin-right: 258px;   
}

.body-home.ar .header-sec1{
 width: 400px
}
.body-home.ar .big-img-sec1.animate{
  transform: scaleX(-1);
}


.body-home.ar .img-decoration1-sec1.animate{
      right:-183px;
}
.body-home.ar .img-decoration3-sec1.animate{
    right: 245px;

}
.body-home.ar .img-decoration2-sec1.animate{
right: 91px;
}
.body-home.ar .img-decoration5-sec1.animate{
      right: -19px; transform: scaleX(-1);
}
.body-home.ar .img-decoration6-sec1.animate{
    right: 444px; transform: scaleX(-1);
}

.body-home.ar .img-decoration-sec2.animate{
  background-image: url(pic/pic85.png);
      margin-top: 83px;
}


.body-home.ar .cta-sec5{
    bottom: -121px;
}


.body-home.ar .icon-sec6{
       position: absolute;
    right: 10px;
    top: 56%;
}

.body-home.ar .icon2-sec6{
    right: 10px;
}


.body.en, 
.body.en * {
  font-family: 'Poppins', sans-serif !important;
}
.body.ar, 
.body.ar * {
  font-family: 'Noto Sans Arabic', sans-serif !important;
}

.body.ar .logintext{
      text-underline-offset: 6px;
}
.body.ar .english{
     text-decoration-line: none;
}

.body.ar .arabicc{
     text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    text-underline-position: from-font;
}





.body.ar .img-login{
          left: -196px;
    right: unset;
    transform: scalex(-1);
}

.body.ar .sec-login{
    background-image: url(pic/pic88.png);
}




.body.en.darkmode .sec-login {
    background-image: url(pic/pic109.png);
}


.body.ar.darkmode .sec-login {
    background-image: url(pic/pic110.svg);
}



.body.ar .forgot-pass{
text-align:left;
}





.body-meassages{width: 100%;overflow-x: hidden;
background-color: var(--white);}
.body-meassages.en, 
.body-meassages.en * {
  font-family: 'Poppins', sans-serif !important;
}
.body-meassages.ar, 
.body-meassages.ar * {
  font-family: 'Noto Sans Arabic', sans-serif !important;
}


.body-meassages.ar .logintext{
      text-underline-offset: 6px;
}
.body-meassages.ar .english{
     text-decoration-line: none;
}

.body-meassages.ar .arabicc{
     text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    text-underline-position: from-font;
}







.sec-login{    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 224px 8%;overflow: hidden;
    min-width: 1080px;
    position: relative;
    z-index: 1;
    background-color: var(--background);
       background-image: url(pic/pic2.png);
    background-size: auto;
    background-repeat: no-repeat;
     background-position: left bottom;
}


.containerr-sec-login{
        max-width: 1280px;
    width: 100%;
    display: flex;align-items: center;
    flex-direction: row;

    justify-content: center;
}




.container-login-page{
        display: flex;
    flex-direction: row;
    gap: 35px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 100%;
}












.content-info-login-page{display: flex;
    flex-direction: column;
    gap: 56px;
    border-radius: 15px;
margin: 0;
padding: 74px 51px;
box-sizing: border-box;
background-color: var(--constantwhite);
width: 53%;}

.header-log-in-page{color:var(--contstanttextcolor);
text-align: center;
font-family: Poppins;
font-size: 32px;
font-weight: 800;margin: 0;
line-height: 140%;}

.form{margin: 0;padding: 0;display: flex;
    flex-direction: column;
gap: 30px;}

.input1{display: flex;flex-direction: column;
    gap: 22px;margin: 0;
    padding: 0;border-color: transparent;}

.placeholder-login{color: var(--contstanttextcolor);
font-family: Poppins;
font-size: 24px;margin: 0;padding: 0;
font-weight: 600;}


.text-info-login {
height: 47px;
border-radius: 5px;color: var(--contstanttextcolor);
    display: flex;background-color: transparent
;border: 2px solid var(--contstanttextcolor);
padding-left: 26.92px;box-sizing: border-box;
padding-right: 26.92px;
}
.text-info-login:focus,
.text-info-login:active,
.text-info-login:visited,
.text-info-login:focus-visible,
.text-info-login:focus-within,
.text-info-login:hover {
  color: var(--contstanttextcolor) !important;
  border: 2.019px solid var(--contstanttextcolor);
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

.input-group{display: flex;flex-direction: column;gap: 30px;
    margin: 0;padding: 0;border-color: transparent;
}

.group-input2{display: flex;flex-direction: column;gap: 12px;
    margin: 0;padding: 0;border-color: transparent;
}

.forgot-pass{color: var(--contstanttextcolor);
text-align: right;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: 5.5%; /* 0.88px */
text-underline-offset: 12.5%; /* 2px */
text-underline-position: from-font;

}

.link{text-decoration: none;}

.input3{display: flex;flex-direction: row;gap: 9px;margin: 0;
    padding: 0;border-color: transparent;}

.checkbox {
  width: 25.473px;
  height: 25.473px;
  background: transparent; 
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid var(--contstanttextcolor);
  cursor: pointer;margin: 0;
  position: relative;    flex-shrink: 0;
    display: inline-block;
}


.checkbox:checked::after {
  content: "";
  position: absolute;
  top: 2px;
      left: 7px;
  width: 6px;
  height: 12px;
  border: solid var(--contstanttextcolor);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.rember-text{color: var(--contstanttextcolor);
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;margin: 0;padding: 0;}

.buttonn{display: flex;
height: 50px;width: 100%;
;box-sizing: border-box;
justify-content: center;cursor: pointer;
align-items: center;border-color: transparent;
align-self: stretch;
border-radius: 15px;   ;
background: var(--cta);
transition: all 300ms linear;}

.buttonn:hover{background-color: var(--cta-hover);}

.link-button{width: 100%;text-decoration: none;
display: flex
;gap: 10px;
    align-items: center;
    justify-content: center;}

.button-text{color: var(--ctatext);
font-family: Poppins;
font-size: 18px;margin: 0;
font-weight: 700;}


.error-message {
    color: var(--red);
font-family: Poppins;
    font-size: 16px;
    display: none;   
}


.img-login{position: absolute;right: 0;
    position: absolute;
right: -197px;
    width: 49%;    min-width: 787px;    bottom: 3.5%;
    
}


.headerr {
    background-color: var(--header);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 0 8%;border-radius: 0 0 40px 40px;
    z-index:1111111111;
    width: 100%;height: 122.291px;
    box-shadow: -89px 8px 24.4px 0 var(--shadow-header);
}


.container-header{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 34px;
        width: 100%;
    align-items: center;
    justify-content: space-between;
}

.list-header{list-style-type: none;
display: flex;
flex-direction: row;
gap: 25px;
justify-content: center;
}


.link-header{text-decoration: none;}

.list-header-text{color: var(--textcolor);
font-family: Poppins;
font-size: 18px;
font-weight: 700;
line-height: 110%; 
  position: relative;
  cursor: pointer;
}

.list-header-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;        
  width: 0;
  height: 2px;         
  background-color: var(--textcolor);
  transition: all 0.3s ease-in-out;
}

.list-header-text:hover::after {
  width: 100%;
}


.lang-changer-button{display: flex;
width: fit-content;
height: 54px;
padding: 0 15px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 39px;
border: 2px solid var(--textcolor);
background: var(--background-language-changer);
box-shadow:transparent;
}


.small-language-ctas{display: flex;
width: fit-content;
height: 54px;
padding: 0 5px;
justify-content: center;cursor: pointer;
align-items: center;
gap: 4px;
border-radius: 39px;
border-color: transparent;
background: var(--background-language-changer);
box-shadow: transparent;
}



.english-ncontainer{width: 46.491px;
height: 31.216px;
border-radius: 42px;cursor: pointer;
background: var(--cta);
display: flex;
justify-content: center;
align-items: center;
}


.english{color: var(--textcolor);
font-family: Poppins;
font-size: 18px;
font-weight: 700;
line-height: 110%; /* 19.8px */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: 2px;
text-underline-offset: 2px;
text-underline-position: from-font;}


.arabicc{color: var(--textcolor);
font-family: Poppins;
font-size: 18px;
font-weight: 700;
line-height: 110%;}

.theme-img{display: block;}


.logintext{color: var(--textcolor);
font-family: Poppins;
font-size: 18px;
font-weight: 700;
line-height: 110%; /* 19.8px */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: 2px;
text-underline-offset: 2px;
text-underline-position: from-font;}



.container-login{display: flex;
width: fit-content;text-decoration: none;
height: 54px;border-radius: 39px;cursor: pointer;
justify-content: center;
align-items: center;
gap: 10px;

border-color: var(--textcolor);
background: var(--background-language-changer);
box-shadow: 1px 3px 2px 0 var(--boxshadow-languageshanger1) inset, -1px -3px 2px 0 var(--boxshadow-languageshanger2) inset, 0 0 14px 0 var(--boxshadow-languageshanger3) inset;}


.login-button2{display: flex;
width: fit-content;
height: 54px;
padding: 0 15px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 39px;
border: 2px solid var(--textcolor);
background: var(--background-language-changer);
box-shadow: 1px 3px 2px 0 var(--boxshadow-languageshanger1) inset, -1px -3px 2px 0 var(--boxshadow-languageshanger2) inset, 0 0 14px 0 var(--boxshadow-languageshanger3) inset;
}







.arab-ncontainer{width: fit-content;cursor: pointer;
height: fit-content;
display: flex;
justify-content: center;
align-items: center;;}


.arab{color: var(--textcolor);
font-family: Poppins;
font-size: 18px;
font-weight: 600;
line-height: normal;}



.conatiner-sub-buttons-left{display: flex;
    gap: 10px;
flex-direction: row;
justify-content: center;
align-items: center;}


.circle-change-theme{
    display: flex;
width: 54px;
height: 54px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 39px;cursor: pointer;
border: 2px solid var(--textcolor);
background: var(--background-language-changer);
box-shadow: 1px 3px 2px 0 var(--boxshadow-languageshanger1) inset, -1px -3px 2px 0 var(--boxshadow-languageshanger2) inset, 0 0 14px 0 var(--boxshadow-languageshanger3) inset;
}

.list-header-text.active {
    color: var(--cta) !important;
}

.list-header-text.active::after {
    width: 100%;
    height: 2px;
    background-color: var(--cta);
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
}




.logo-header{display: block;}








.sec1{width: 100%;height: 100vh;
background-image: url(pic/pic5.png);
width: 100%;
    display: flex;position: relative;
    justify-content: center;
    padding: 0 8%;    min-height: 721px;
    min-width: 1080px;}


.main-info-sec1 {
    max-width: 1280px;
    width: 100%;flex-direction: row;
    display: flex;margin-top: 122px;justify-content: space-between;
align-items: center;}


.text-box-sec1{display: flex;position: relative;
flex-direction: column;width: 621.46px;
gap: 55px;}


.sub-box-sec1{display: flex;
flex-direction: column;z-index: 1;
gap: 34px;}

.small-text-sec1{color: var(--textcolor);
font-family: Poppins;
font-size: 17.094px;
font-weight: 800;
line-height: 110%; /* 18.803px */}

.header-sec1{color: var(--textcolor);
font-family: Poppins;
font-size: 90.293px;
font-weight: 800;
line-height: 110%; /* 99.323px */}

.para-container-secc1{display: flex;
flex-direction: column;
gap: 22px;}

.para-sec1{
color: var(--faded-text);
font-family: Poppins;width: 296.164px;
font-size: 18px;
font-weight: 500;
line-height: 140%; 
display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;}

.para2-sec1{
color: var(--faded-text);
font-family: Poppins;width: 296.164px;
font-size: 18px;margin-left: 258px;
font-weight: 500;
line-height: 140%; 
display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;}


.img-decoration1-sec1{position: absolute;
    left: -73px;
    top: -90px;  transform: scale(0.8);        
  transition: opacity 0.4s ease-out 0.4s,
              transform 0.4s ease-out 0.4s;
}

.img-decoration1-sec1.animate {
  opacity: 1;
  transform: scale(1);         
}



.img-decoration2-sec1{    position: absolute;
    left: 91px;
    bottom: -70px;
    transform: scale(0.8);        
  transition: opacity 0.4s ease-out 0.6s,
              transform 0.4s ease-out 0.6s;
}

.img-decoration2-sec1.animate {
  opacity: 1;
  transform: scale(1);         
}


.img-decoration3-sec1{       position: absolute;
    right: 110px;
    bottom: 116px;
        transform: scale(0.8);        
  transition: opacity 0.4s ease-out 0.7s,
              transform 0.4s ease-out 0.7s;
}

.img-decoration3-sec1.animate {
  opacity: 1;
  transform: scale(1);         
}



.img-decoration1-sec1,
.img-decoration2-sec1,
.img-decoration3-sec1 {
  opacity: 0;
}






/* 
.img-decoration4-sec1{      position: absolute;
    left: 0;opacity: 0;transition: opacity 0.4s ease-out 0.7s;
     top: 167px;} */


.img-container-big-sec1{position: relative;
    width: 529px;
    height: 541px;
    display: flex;
    justify-content: end;
}

.img-decoration4-sec1 {
  position: absolute;
  left: 0;
  top: 167px;
  opacity: 0;
  transition: opacity 0.6s ease-out 1s;
}

.img-container-big-sec1 {
  position: relative;
  width: 529px;
  height: 541px;
  display: flex;
  justify-content: end;
}

.img-decoration5-sec1 {
  position: absolute;
  left: -19px;
  top: -79px;
  opacity: 0;
  transition: opacity 0.6s ease-out 1s;
}

.img-decoration6-sec1 {
  position: absolute;
  right: -29px;
  bottom: -93px;
  opacity: 0;
  transition: opacity 0.6s ease-out 1s;
}

.img-decoration7-sec1 {
  position: absolute;
  right: 0;
  top: 243px;
  opacity: 0;
  transition: opacity 0.6s ease-out 1s;
}


.img-decoration8-sec1{  
    position: absolute;
    left: 0;
   bottom: 9%;
     opacity: 0;
  transition: opacity 0.6s ease-out 1s;
}



.img-decoration4-sec1.animate,
.img-decoration5-sec1.animate,
.img-decoration6-sec1.animate,
.img-decoration8-sec1.animate,
.img-decoration7-sec1.animate {
  opacity: 1;
}









.big-img-sec1 {
  width: 529px;
  opacity: 0;
  transform: scale(0.8);        
  transition: opacity 0.4s ease-out 0.1s,
              transform 0.4s ease-out 0.1s;
}

.big-img-sec1.animate {
  opacity: 1;
  transform: scale(1);         
}





.sec2 {
    width: 100%;
    height: fit-content;
    background-image: url(pic/pic19.png);
    background-size: auto;
    background-position: left top; 
    display: flex;
    flex-direction: column;
}


.img-decoration-sec2 {
  width: 100%;
  height: 306px;
  margin-top: 20px;
  background-image: url(pic/pic20.png);
  opacity: 0;
  -webkit-mask-image: linear-gradient(to right, var(--mask-color) 0%, var(--mask-color) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 0% 100%;
  -webkit-mask-position: left;
  -webkit-transition: opacity 0.2s ease-out, -webkit-mask-size 0.8s ease-out;

  mask-image: linear-gradient(to right, var(--mask-color) 0%, var(--mask-color) 100%);
  mask-repeat: no-repeat;
  mask-size: 0% 100%;
  mask-position: left;
  transition: opacity 0.2s ease-out, mask-size 0.8s ease-out;
}

.img-decoration-sec2.animate {
  opacity: 1;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}


.cont-sec2 {
    width: 100%;
    height: fit-content;
    padding: 0 8%;
        display: flex;
    justify-content: center;
        padding-bottom: 140px;
        background-color: var(--white);
    

}

.main-info-sec2 {
    max-width: 1280px;
    width: 100%;
    flex-direction: column;
    gap: 62px;
    display: flex;}



::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--design);
  border: 1px solid var(--white);
  border-radius: 10px;
}


.box1-sec2{display: flex;
flex-direction: column;
gap: 40px;}

.header-sec2{color: var(--textcolor);
font-family: Poppins;
font-size: 40px;
font-weight: 700;
line-height: 140%; /* 56px */}


.para-sec2{
color: var(--paragraph);
font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 140%; /* 25.2px */
    display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;}



.box2-sec2{width: 100%;
display: flex;    align-items: end;
flex-direction: row; 
gap: 20px;}


.subbox2-sec2{
display: flex;
flex-direction: row;    width: 66.2%;    align-items: end;
gap: 20px;}

.card-sec2{width: 347px;
height: fit-content;
border-radius: 16px;
border: 1px solid var(--background);
background: var(--design);
padding: 22px 28px 53px 28px;
display: flex;   flex: 1;    flex: 1; 
    min-width: 280px;
justify-content: center;}

.card-sec2:hover{
box-shadow: -2px 4px 30.4px 0 var(--card-hover);}

.sub-info-card-sec2{display: flex;
flex-direction: column;
gap: 58px;}

.figure-sec2{position: relative;
display: flex;height: 199px;
justify-content: center;
align-items: center;}


.numb-sec2{color: var(--constantwhite);
text-align: center;
font-family: Poppins;
font-size: 28px;
font-style: italic;
font-weight: 700;
line-height: 140%; /* 39.2px */
position: absolute;z-index: 1;}

.text-cont-sec2{
    display: flex;
    flex-direction: column;
    gap: 27px;
    align-items: center;
    width: 100%;
}


.subtitles-sec2{color: var(--constantwhite);
text-align: center;
font-family: Poppins;
font-size: 28px;
font-weight: 700;height: 28px;
line-height: 140%; /* 39.2px */}

.para1-sec2{
color: var(--paragraph-white);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */

}


.link-sec2{display: flex;cursor: pointer;
flex-direction: row;    align-items: center;
gap: 6px;}

.link-text{color: var(--constantwhite);
text-align: right;
font-family: Poppins;
font-size: 18px;
font-weight: 700;
line-height: 100%; /* 18px */
letter-spacing: -0.18px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset:5px;
text-underline-position: from-font;}


.small-dropdown-sec2{width: 15px;height: 8px;}

.last-card-sec2{width: 347px;
height: fit-content;
display: flex;   flex: 1; align-items: center;
flex-direction: column;}


.orange-cont-sec2{width: 347px;height: 220px;
position: relative;}



.text-orange-bar-sec{color: var(--ctatext);
text-align: center;
font-family: Poppins;
font-size: 28px;
font-weight: 600;
line-height: 140%; /* 39.2px */}


.orange-bar1,
.orange-bar2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 49px;
    background: var(--cta);
    transform-origin: center;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


.orange-bar1 {
    width: 226.58px;
    height: 61.124px;
    top: 32px;
    left: 0;
    transform: rotate(18.332deg);
    animation-name: float1;
    animation-duration: 6s;
}

.orange-bar2 {
    width: 219.509px;
    height: 61.124px;
    bottom: 32px;
    right: 0;
    transform: rotate(-15deg);
    animation-name: float2;
    animation-duration: 7s;
}

@keyframes float1 {
    0%   { transform: translate(0,0) rotate(18deg); }
    15%  { transform: translate(18px,-12px) rotate(25deg); }
    30%  { transform: translate(-12px,10px) rotate(10deg); }
    45%  { transform: translate(15px,-8px) rotate(20deg); }
    60%  { transform: translate(-15px,12px) rotate(5deg); }
    75%  { transform: translate(10px,-10px) rotate(28deg); }
    100% { transform: translate(0,0) rotate(18deg); }
}


@keyframes float2 {
    0%   { transform: translate(0,0) rotate(-15deg); }
    15%  { transform: translate(12px,-6px) rotate(-10deg); }
    30%  { transform: translate(-10px,4px) rotate(-5deg); }
    45%  { transform: translate(8px,-8px) rotate(-12deg); }
    60%  { transform: translate(-12px,6px) rotate(-8deg); }
    75%  { transform: translate(10px,-4px) rotate(-18deg); }
    100% { transform: translate(0,0) rotate(-15deg); }
}


.card2-sec2 {
    width: 100%;
    height: fit-content;
    border-radius: 16px;
    border: 1px solid var(--background);
    background: var(--design);
    padding: 53px 28px 53px 28px;
    display: flex;
    justify-content: center;
       flex: 1;
    min-width: 280px;
}

.card2-sec2:hover{
box-shadow: -2px 4px 30.4px 0 var(--card-hover);}


.card-sec2,
.card2-sec2 {
    opacity: 0;
    transform: translateY(120px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.card-sec2.animate,
.card2-sec2.animate {
    opacity: 1;
    transform: translateY(0);
}











.preloaderrr {
  transition: opacity .5s ease;
  position: fixed;
  inset: 0;;width: 100%;
  z-index: 9999;
  background-color: var(--constantwhite);
  display: flex;
  justify-content: center;
  align-items: center;z-index: 111111111111111111111;
}


.video{width: 60%;}




.sec3{width: 100%;position: relative;
height: fit-content;}

.container-sec3{width: 100%;
padding-top: 151px;
display: flex;
display: flex;
flex-direction: column;
gap: 58px;}


.header-sec3{color: var(--textcolor);
text-align: center;
font-family: Poppins;
font-size: 40px;
font-weight: 700;
line-height: 140%; /* 56px */}


.scroll-bar-horizontal{
    display: flex;
    flex-direction: column;
    justify-content: center;padding-bottom: 132px;
    align-items: center;gap: 62px;
  width: 100%;}




.navs-circls{
  display: flex;
  flex-direction: row;
  justify-content: center;height: 43.891px;padding-bottom: 132px;
  align-items: center;
  gap: 12px;
}


.circle-highlighted-sec3{
  width: 45.44px;
height: 43.891px;cursor: pointer;
border-radius: 38.905px;
background: var(--white);
}

.circles-sec3{
  width: 45.44px;cursor: pointer;
height: 43.891px;
border-radius: 38.905px;
background: var(--design);
}


.img-decoration-sec3{position: absolute;
right: 0;
top: 108px;}

.img-decoration2-sec3{position: absolute;
left: 0;
bottom: 120px;}

.gallery-cell {
  width: 900px; 
  margin-right: 20px;
}

.img1-scroll-bar {
  width: 100%; 
  height: auto; 
  display: block;
  border-radius: 15px;
  border: 1px solid var(--white);
  box-shadow: 0 4px 4px 0 var(--shadow-imgs);
}


.mainn{overflow-x: hidden;}

.flickity-slider {
  position: relative; 
}

.flickity-viewport {
  overflow: hidden;
}

.sec3 .flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -101px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}
.sec3 .flickity-page-dots .dot {
    width: 43px;
    height: 43px;
    background: var(--design);
    opacity: 1;
    border-radius: 50%;
}

.sec3 .flickity-page-dots .dot.is-selected {
    background: var(--white);
    opacity: 1;
}



.gallery-cell {
  width: 900px;
  height: 554px;
  margin-right: 20px;
  overflow: hidden; 
}

.img1-scroll-bar {
  width: 100%;
  height: 100%;
  object-fit: cover; 
 transform: translatex(120px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.img1-scroll-bar.animate {
    opacity: 1;
    transform: translateY(0);
}


.sec3 .flickity-prev-next-button.previous {
    left: 28px;
        width: 56px;
    height: 56px;
}

.sec3 .flickity-prev-next-button.next {
    right: 38px;
        width: 56px;
    height: 56px;
}








.sec4{width: 100%;height: 1067px;
background-image: url(pic/pic29.png);
background-position: top;
    background-repeat: no-repeat;
    background-size: cover;}


.cont-sec4{width: 100%;
height: 100%;

    padding: 200px 8% 164px;
    display: flex;
    justify-content: center;}

.main-info-sec4{display: flex;
flex-direction: row;
    max-width: 1280px;justify-content: space-between;
    width: 100%;}



.text-cont-sec4{display: flex;
  flex-direction: column;
  gap: 75px;
}

.sub-text-cont-sec4{display: flex;
flex-direction: column;
gap: 45px;}


.header-sec4{color: var(--textcolor);
font-family: Poppins;
font-size: 40px;
font-weight: 700;
line-height: 140%; /* 56px */}


.para-sec4{
  width: 435.749px;
color: var(--faded-text);
font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 140%; /* 25.2px */}



.cont-instructions-sec4{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.row-sec4{display: flex;
flex-direction: row;
gap: 20px;}

.circle-sec4{display: flex;
width: 69.37px;
height: 69.37px;
justify-content: center;
align-items: center;
gap: 13.415px;
border-radius: 34.685px;
background: var(--design);}


.cont-text-row-sec4{display: flex;
flex-direction: column;justify-content: center;
gap: 3px;}


.subtitles-sec4{color: var(--textcolor);
font-family: Poppins;
font-size: 24px;
font-weight: 600;
line-height: 140%; /* 33.6px */}


.para-sec4-roww{
color: var(--paragraph);
font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 140%; /* 25.2px */}

.cta-sec4{display: flex;
height: 50px;width: 255px;
justify-content: center;
align-items: center;
align-self: stretch;border-color: transparent;
border-radius: 15px;transition: all 300ms linear;
background: var(--cta);}


.cta-sec4:hover{background-color: var(--cta-hover);}




.link-cta-sec4{width: 100%;
height: 100%;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;}

.cta-text-sec4{
  color: var(--ctatext);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-weight: 700;
}



.img-cont-sec4{width: 597px;position: relative;
height: 702px;display: flex;
justify-content: center;
align-items: center;}


.cont-circle-sec4{width: 479.361px;
height: 479.361px;
border-radius: 479.361px;display: flex;
justify-content: center;align-items: center;
border: 2px solid var(--design);}


.circle2-sec4{
  width: 364.023px;
height: 364.023px;
border-radius: 364.023px;
background: var(--design);
}

.img-sec4-big{position: absolute;
top: 0;left: 0;  transform: scale(0.2);        
  transition: opacity 0.3s ease-out 0.1s,
              transform 0.3s ease-out 0.1s;
}

.img2-sec4-big{position: absolute;
  z-index: 1;
bottom: 0;right: 0;
  transform: scale(0.2);        
  transition: opacity 0.3s ease-out 0.2s,
              transform 0.3s ease-out 0.2s;
}

.img-sec4-big.animate {
  opacity: 1;
  transform: scale(1);         
}



.img2-sec4-big.animate {
  opacity: 1;
  transform: scale(1);         
}



.sec5{width: 100%;height: 776px;}

.cont-sec5 {
    width: 100%;
    height: 100%;
    padding: 0 8% ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-cont-sec5{width: 100%;
    max-width: 1280px;
  display: flex;
justify-content: center;
align-items: center;}







.blue-rectangles-sec5{width: 78%;
height: 297.641px;
border-radius: 33px;
border: 1px solid var(--white);
background: var(--design);position: relative;
padding-top: 63px;
display: flex;
justify-content: center;}


.content-sec5{display: flex;position: relative;
flex-direction: column;gap:31px;width: 500px;
align-items: center;}


.header-sec5{color: var(--constantwhite);
text-align: center;
font-family: Poppins;
font-size: 40px;
font-weight: 700;
line-height: 140%; /* 56px */}


.para-sec5{
color: var(--paragraph-white);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 140%; /* 25.2px */}



.cta-sec5{    display: flex;
    height: 50px;
    width: 255px;
    justify-content: center;
    position: absolute;
    align-items: center;
    border-color: transparent;
    border-radius: 15px;
    transition: all 300ms linear;
    bottom: -89px;
    background: var(--cta);}


.cta-sec5:hover{background-color: var(--cta-hover);}




.link-cta-sec5{width: 100%;
height: 100%;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;}

.cta-text-sec5{
  color: var(--ctatext);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-weight: 700;
}



.circle1-sec5{
    width: 258.349px;
    height: 258.349px;
    position: absolute;
    left: -113px;
    bottom: -94px;
    border-radius: 258.349px;
    border: 1px solid var(--white);
    background-image: url(pic/pic36.png);
    background-size: cover;

  transform: scale(0.2);        
  transition: opacity 0.3s ease-out ,
              transform 0.3s ease-out ;
}



.circle2-sec5{
width: 160.002px;
height: 160.002px;
    position: absolute;
    left: 115px;
    top: -205px;
    border-radius: 258.349px;
    border: 1px solid var(--white);
    background-image: url(pic/pic37.png);
    background-size: cover;

  transform: scale(0.2);        
  transition: opacity 0.3s ease-out 0.4s,
              transform 0.3s ease-out 0.4s;
}


.circle3-sec5{
width: 330.906px;
height: 330.906px;
    position: absolute;
    right: -153px;
    top: -95px;
    border-radius: 258.349px;
    border: 1px solid var(--white);
    background-image: url(pic/pic38.png);
    background-size: cover;

  transform: scale(0.2);        
  transition: opacity 0.3s ease-out 0.2s,
              transform 0.3s ease-out 0.2s;
}

.circle3-sec5.animate {
  opacity: 1;
  transform: scale(1);         
}



.circle2-sec5.animate {
  opacity: 1;
  transform: scale(1);         
}


.circle1-sec5.animate {
  opacity: 1;
  transform: scale(1);         
}


















.img-decoration1-sec5{position: absolute;
top: -8px;}

.img-decoration2-sec5{position: absolute;
    right: -8px;
    bottom: -21px;}

.imgdecoration3-sec5 {
    position: absolute;
    top: -96px;
    left: -77px;
}

.imgdecoration4-sec5 {
    position: absolute;
    bottom: -96px;
    right: -77px;
}





.sec6{width: 100%;height: fit-content;
background-image: url(pic/pic58.png);
background-position: top;
background-size: cover;}


.cont-sec6{
    width: 100%;
    height: 100%;
    padding: 264px 8% 116px;
    display: flex;
    justify-content: center;
}

.main-info-sec6 {
    display: flex;gap: 20px;
    flex-direction: row;
    max-width: 1280px;
    justify-content: space-between;
    width: 100%;
}



.text-cont-sec6{display: flex;
flex-direction: column;gap: 56px;
width: 50%;justify-content: flex-end;}


.header-sec6{color: var(--textcolor);
font-family: Poppins;
font-size: 40px;height: 28px;
font-weight: 700;
line-height: 140%; /* 56px */}


.para-sec6{
color: var(--paragraph);
font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 140%; /* 25.2px */}

.form-sec6{display: flex;
width: 50%;
padding: 38px;gap: 24px;
flex-direction: column;
align-items: flex-start;
border-radius: 15px;
background: var(--design);}



.input1-sec6{display: flex;flex-direction: column;
    gap: 22px;margin: 0;width: 100%;
    padding: 0;border-color: transparent;}

.placeholder-sec6{color: var(--ctatext);
font-family: Poppins;height: 20px;
font-size: 20px;margin: 0;padding: 0;
font-weight: 700;}


.text-info-sec6 {
height: 60px;width: 100%;border-radius: 10px;
border-radius: 5px;color: var(--gray-text-form);
    display: flex;background-color:var(--ctatext)
;  border: 1px solid var(--ctatext);font-family: Poppins;
padding: 0 40px;

}
.text-info-sec6:focus,
.text-info-sec6:active,
.text-info-sec6:visited,
.text-info-sec6:focus-visible,
.text-info-sec6:focus-within,
.text-info-sec6:hover {
  color: var(--textcolor) !important;
border: 1px solid var(--ctatext);
  outline: none;border-color: transparent;
  box-shadow: none;
}




.input-icon-wrapper {
  position: relative;
  width: 100%;
}

.input-icon-wrapper .icon-sec6 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; 
}

.text-info-sec6 {
  width: 100%;
  padding-left: 40px; 
  height: 40px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid var(--ctatext);
}






.text-info2-sec6 {
  width: 100%;
  padding-left: 40px;
  padding-top: 30px;  
  padding-right: 40px;
  min-height: 155px; font-family: Poppins;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid var(--ctatext);
width: 100%;border-radius: 10px;
border-radius: 5px;color: var(--gray-text-form);
    display: flex;background-color:var(--ctatext)
;  border: 1px solid var(--ctatext);
}

.text-info2-sec6::placeholder{color: var(--gray-text-form);}
.text-info-sec6::placeholder{color: var(--gray-text-form);}

.text-info2-sec6:focus,
.text-info2-sec6:active,
.text-info2-sec6:visited,
.text-info2-sec6:focus-visible,
.text-info2-sec6:focus-within,
.text-info2-sec6:hover {
  color: var(--textcolor) !important;
border: 1px solid var(--ctatext);
  outline: none;border-color: transparent;
  box-shadow: none;
}

.input-icon-wrapper .icon2-sec6 {
    position: absolute;
    left: 10px;
    top: 37%;
    transform: translateY(-50%);
    pointer-events: none;
}



.cta-sec6{width: 100%;
display: flex;
height: 50px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;border-color: transparent;
border-radius: 15px;
background-color: var(--cta);
transition: 300ms all linear;}

.cta-sec6:hover{background-color: var(--cta-hover);}

.link-cta-sec6{display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;text-decoration: none;
}


.cta-sec6-text{color: var(--ctatext);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 133.333% */}


.img-sec6{display: block;
      opacity: 0;
              transform: translateY(80PX);    
    transition: all 0.6s ease;
}


.img-sec6.animate {
    opacity: 1;   transform: translateY(0);    
   
}




.footer{width: 100%;height: fit-content;
background-color: var(--design);}

.container-footer{
  
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;    gap: 50px;
    justify-content: space-between;

}

.main-container-footer{width: 100%;
padding: 71px 8% 0 8%;
display: flex;justify-content: space-between;
flex-direction: row;}

.first-box-footer{display: flex;
flex-direction: column;width: 527.749px;
gap: 34px;}

.para-footer{
color: var(--paragraph-white);
font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 140%;}

.icons-container-footer{display: flex;
flex-direction: row;align-items: center;
gap: 20px;}

.logo-footer{width: 262.99px;
height: 46.58px;}



.box2-footer{display: flex;
  gap: 76px;
flex-direction: row;}

.list-footer{display: flex;
flex-direction: column;
gap: 36px ;}


.big-list-tiltles-footer{
  display: flex;
  flex-direction: column;
  gap: 37px;
  list-style-type: none;
}



.list-titles-footer{
  color: var(--ctatext);
font-family: Poppins;
font-size: 24px;
font-weight: 700;list-style-type: none;
line-height: 150%; /* 36px */
}


.sub-list-footer{list-style-type: none;
display: flex;
flex-direction: column;
gap: 20px;}

.navs-footer {
  position: relative;
  color: var(--ctatext);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none; 
  display: inline-block;
}

.navs-footer::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px; 
  width: 0;
  height: 2px;
  background-color: var(--ctatext);
  transition: width 0.3s ease; 
}

.navs-footer:hover::after {
  width: 100%;
}

.link-footer{text-decoration: none;}


.last-white-rect-footer{width: 100%;
height: 47.9px;background-color: var(--white);
display: flex;
justify-content: center;
align-items: center;}


.last-small-text-footer{
  color: var(--textcolor);
text-align: center;
font-family: Poppins;
font-size: 10px;
font-weight: 500;
line-height: 150%; /* 15px */
}

/* endfooter */

.sec1-messages-page{
    width: 100%;
    height: fit-content;}

.cont-sec1-messgaes {
  
    width: 100%;margin-top: 112px;
    height: fit-content;
    min-height: 737px;
    padding: 112px 8% ;
    display: flex;
    align-items: center;
    justify-content: center;
}



.main-info-messages-sec1 {
    display: flex;
    gap: 90px;
    flex-direction: column;
    max-width: 1280px;height: 100%;
    width: 100%;
}


.row1-sec1-messages-page{display: flex;
flex-direction: row;height: fit-content;
justify-content: space-between;width: 100%;
align-items: flex-end;}

.header-sec1-messages-page{
  color: var(--textcolor);
font-family: Poppins;
font-size: 40px;
font-weight: 700;
line-height: 140%; /* 56px */
}



.serach-bar {
  display: flex;
width: 346px;
height: 43px;
  padding: 10px 18px;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid var(--design);
}

.search-image {
  width: 26px;
  height: 27px;
  background-image: url('pic/pic69.png');
  background-size: cover;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;font-family: Poppins;
  color: var(--textcolor);
  padding-left: 10px;
  display: none; 
}


.serach-bar.activee .search-image {
  display: none;
}

.serach-bar.activee .search-input {
  display: block;
}


.search-input::placeholder {
  color: var(--textcolor); 
  font-size: 16px;font-family: Poppins;
  opacity: 1;
}


.tabel-sec1-messages{
  width: 100%;
  height: fit-content;
  display: flex;list-style-type: none;
  flex-direction: column;
}


.container-hedaer-tabell-sec1-messg{
  width: 100%;
  height: 80px;
border-radius: 15px;
background: var(--design);
padding: 30px ;
display: flex;gap: 55px;
flex-direction: row;justify-content: space-between;
}

.username-title{
  width: 184px;
  color: var(--ctatext);
font-family: Poppins;
font-size: 28px;
font-weight: 700;
line-height: 20px; /* 71.429% */
}


.email-title{
  width: 286px;
  color: var(--ctatext);
font-family: Poppins;
font-size: 28px;
font-weight: 700;
line-height: 20px; /* 71.429% */
}


.message-title{
  width: 285px;
  color: var(--ctatext);
font-family: Poppins;
font-size: 28px;
font-weight: 700;
line-height: 20px; /* 71.429% */
}


.main-row-messages-page{
  width: 100%;
height: 100.086px;padding: 35px 30px 35px 30px;
border-bottom: 1px solid var(--design);
display: flex;gap: 55px;justify-content: space-between;
flex-direction: row;    align-items: center;
}


.container-name-mess{display: flex;
flex-direction: row;  width: 184px;height: fit-content;
gap: 12px;align-items: center;
}

.information1-tabel-mess{
  color: var(--textcolor);
font-family: Poppins;
font-size: 18px;width: 127px;
font-weight: 400;
line-height: 24px; /* 133.333% */
display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.container-email-mess{display: flex;
flex-direction: row;  width: 286px;
gap: 12px; width: 286px;align-items: center;
}

.information2-tabel-mess{
  color: var(--textcolor);
font-family: Poppins;
font-size: 18px;
font-weight: 400;width: 232px;
line-height: 24px; /* 133.333% */
display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.container-messages-mess{display: flex;
flex-direction: row;   width: 285px;
gap: 12px; width: 286px;align-items: center;
}

.information3-tabel-mess{
  color: var(--textcolor);
font-family: Poppins;width: 235.9px;
font-size: 18px;
font-weight: 400;
line-height: 24px; /* 133.333% */
display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.icon1-messgaes-page{width: 33.508px;
height: 36.885px;}

.icon2-messgaes-page{width: 31.334px;
height: 26.438px;}

.icon3-messgaes-page{width: 31.334px;
height: 29.375px;}



.cta-messages{display: flex;
width: 54.892px;
height: 54.892px;
justify-content: center;
align-items: center;border-color: transparent;
border-radius: 27.446px;transition: all 300ms linear;
background-color: var(--cta);}

.cta-messages:hover{background-color: var(--cta-hover);}


.link-ctas{width: 100%;height: 100%;
display: flex;
justify-content: center;
align-items: center;
}


.hidden-cta{width: 54.892px;
height: 54.892px;}




.success-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.success-overlay.active {
  display: flex;
}

.success-box {
    background: var(--white);
    border-radius: 25px;
    padding: 40px;
    width: 107%;
    max-width: 731px;
    height: 348.11px;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  animation: popUp 0.4s ease;
}

.success-box h2 {
  color: var(--textcolor);
  font-size: 42px;font-family: Poppins;font-weight: 700;
  margin-bottom: 16px;
}

.success-box p {
  color: var(--paragraph);
  font-size: 18px;
  line-height: 140%;font-family: Poppins;
  margin-bottom: 30px;
}

.success-box button {
  background: var(--cta);
  border: none;width: 410px;
height: 50px;
  border-radius: 15px;font-family: Poppins;
  font-size: 18px;color: var(--ctatext);
  cursor: pointer;font-weight: 700;
  transition: all 300ms linear;
}

.success-box button:hover {
  background: var(--cta-hover);
}

@keyframes popUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


.img-dec-popup{    position: absolute;
    right: 0;
    top: 31px;}
.img2-dec-popup{
      position: absolute;
    left: 42px;
    top: 15px;
}
.img3-dec-popup{    position: absolute;
    right: 30px;
    bottom: 16px;}
.img4-dec-popup{position: absolute;
    left: 15px;
    bottom: 29px;}



.sec1-gallery{width: 100%;position: relative;
height: fit-content;}

.img-decoration-galleryy1{position: absolute;
right: 0;
    top:183px;}

.img-decoration-galleryy2{    position: absolute;
    left: 73px;
    top: 276px;
}

.cont-gallery{
    width: 100%;
    height: 100%;
    padding: 224px 8% 112px;
  display: flex;
justify-content: center;
flex-direction: column;align-items: center;
gap: 70px;}



.first-row-gallery{display: flex;
flex-direction: column;
gap: 40px;
justify-content: center;}


.header-gallery{color: var(--textcolor);
text-align: center;
font-family: Poppins;
height: 28px;
font-size: 40px;
font-weight: 700;
line-height: 140%; /* 56px */}

.para-gallery{
color: var(--paragraph);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}


.figure-container-gallery{width: 100%;
height: fit-content;
display: flex;
flex-direction: row;
gap: 20px;
flex-wrap: wrap;}


.small-container-img {
  flex: 0 0 calc(33.333% - 20px); 
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;

aspect-ratio: 3 / 3;
}

.small-container-img:hover {
  transform: scale(1.05);
}

.img-gallery-page {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 15px;

  opacity: 0; 
  transform: translatey(320px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.img-gallery-page.animate {
  opacity: 1;
  transform: translatey(0); 
}












.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--lightbox);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
  padding-top: 112px;
}

.lightbox img {
width: 48%;
  border-radius: 15px;
}

.close-lightbox {
position: absolute;
    top: 206px;
    width: 60.8px;
    height: 60.8px;
    right: 8%;
    border-radius: 50%;
    background-color: var(--design);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}











@media (max-width: 1280px) {

.bodyy{background-color: var(--background);
width: 100vw;}

.sec-login{min-width: 1280px; }

.containerr-sec-login {
    max-width: 1080px;
    width: 100%;}

.img-login {

    right: -286px;
    width: 68%;
    min-width: 0;}

.headerr {
       min-width: 1280px;
    width: 100%;
}
.container-header {
        max-width: 1080px;
    width: 100%;
}
    
.sec1 {
    width: 100%;
          padding: 0 100px;
        min-width: 1280px;}

.main-info-sec1 {
max-width: 100%;
        min-width: 1080px;
}


.img-decoration3-sec1{      position: absolute;
    right: 37px;
     bottom: 93px;}

.text-box-sec1{display: flex;position: relative;
flex-direction: column;width: 510.46px;
gap: 55px;}
.para-sec1{
color: var(--faded-text);
font-family: Poppins;width: 242.164px;
font-size: 18px;
font-weight: 500;
line-height: 140%; 
display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;}

.para2-sec1{
color: var(--faded-text);
font-family: Poppins;width: 242.164px;
font-size: 18px;margin-left: 258px;
font-weight: 500;
line-height: 140%; 
display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;}


.img-decoration8-sec1 {
    position: absolute;
    left: -6%;
    bottom: 9%;
}


   .cont-sec2 {
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        min-width: 1280px;
    }



    .main-info-sec2 {
        max-width: 100%;
        min-width: 1080px;
    }


.sec3{    width: 100%;
        min-width: 1280px;}

.img1-scroll-bar {
  width: 100%;
  height: 100%;
  object-fit: cover; 
    transform: translatex(120px);}

    .sec4 {
        width: 100%;
        min-width: 1280px;
    }


    .cont-sec4 {
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        min-width: 1280px;
    }

.blue-rectangles-sec5 {
    width: 896px;}

    .sec5 {
        width: 100%;
        min-width: 1280px;
    }


    .cont-sec5 {
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        min-width: 1280px;
    }

.circle1-sec5 {
    left: -131px;}

.circle3-sec5 {
    right: -138px;}

    .sec6 {
        width: 100%;
        min-width: 1280px;
    }


    .cont-sec6 {
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        min-width: 1280px;
    }


  .footer {
        width: 100%;
        min-width: 1280px;
    }


 .main-container-footer {
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        min-width: 1280px;
    }

.last-white-rect-footer {
  
        min-width: 1280px;
}


    .sec1-messages-page {
        width: 100%;
        min-width: 1280px;
    }

    .cont-sec1-messgaes{
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        min-width: 1280px;
    }


   .cont-gallery {
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        min-width: 1280px;
    }

    .sec1-gallery{
        width: 100%;
        min-width: 1280px;
    }
.first-row-gallery{display: flex;
flex-direction: column;width: 70%;}



.body.ar .img-login {
    left: -320px;
    right: unset;
    transform: scalex(-1);
}

.content-info-login-page {
    width: 60%;}


}




